﻿@{
    ViewBag.Title = "Home Page";
}
<style>
    .carousel {
        background: #2f4357;
        margin-top: 20px;
    }

    .carousel-item {
        text-align: center;
        min-height: 280px; /* Prevent carousel from being distorted if for some reason image doesn't load */
    }
</style>

<div class="jumbotron">
    <h1>Rent-a-car</h1>
    <p class="lead">Check out our offer of cars, to go wherever, whenever!</p>
    <p><a href="/cars" class="btn custom-color btn-lg">View Cars &raquo;</a></p>
</div>


<!--CAROUSEL-->
<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                @foreach (var car in ViewBag.Cars)
                {
                    if (car.Id == 1)
                    {
                        <div class="item active">
                            <a href="/cars/view/@car.Id">
                                <img src="/Content/Images/car-1.jpg" alt="Honda">
                            </a>
                            
                        </div>
                        continue;
                    }
                    <div class="item">
                        <a href="/cars/view/@car.Id">
                            <img src="/Content/Images/car-@(car.Id).jpg" alt="@car.Model">
                        </a>
                    </div>
                }
                @*<div class="item">
            <img src="/Content/Images/car-2.jpg" alt="Subaru">
        </div>

        <div class="item">
            <img src="/Content/Images/car-3.jpg" alt="Suzuki">
        </div>*@
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>


