﻿
@{
    ViewBag.Title = "Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Orders</h2>
<table class="table table-striped table-bordered text-center">
    <thead>
        <tr>
            <th>Order Id</th>
            <th>Car Id</th>
            <th>User</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Total Price</th>
            <th>Created At</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in ViewBag.Orders)
        {
        <tr>
            <td>@order.OrderId</td>
            <td>@order.CarId</td>
            <td>@order.UserId</td>
            <td>@order.StartDate</td>
            <td>@order.EndDate</td>
            <td>@order.TotalPrice</td>
            <td>@order.CreatedAt</td>
            <td>
                @if (order.IsReturned)
                {
                    <span>@order.ReturnDate</span>
                }
                else
                {
                    if (DateTime.Compare(DateTime.Parse(order.StartDate), DateTime.Now) > 0)
                    {
                        <a href="/orders/cancel/@order.OrderId" class="btn btn-danger">Cancel</a>
                        <a href="#" class="btn btn-primary">Edit</a>
                    }
                    else
                    {
                        <span>Order cannot be cancelled.</span>
                    }
                }
            </td>
        </tr>
        }
    </tbody>
</table>

