﻿@model Inchirieri.Models.Car
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add New Car</h2>

<form method="post">
    <table class="table">
        <tr>
            <td>Car Model:</td>
            <td><input type="text" name="carModel" /></td>
        </tr>
        <tr>
            <td>Registration Date:</td>
            <td><input type="number" min="1980" max="@DateTime.Now.Year" name="carRegistration" /></td>
        </tr>
        <tr>
            <td>Fuel Type:</td>
            <td>
                <select name="fuelType">
                    @foreach (var fuel in ViewBag.FuelType)
                    {
                        <option value="@fuel.Key">@fuel.Value</option>
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td>Seats:</td>
            <td><input type="number" min="1" max="10" name="carSeats" /></td>
        </tr>
        <tr>
            <td>Car Color:</td>
            <td>
                <select id="carColor" name="color">
                    @foreach (var color in ViewBag.Color)
                    {
                        <option value="@color.Value">@color.Value</option>
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td>Transmission:</td>
            <td>
                <select name="transmission">
                    @foreach (var transmission in ViewBag.Transmission)
                    {
                        <option value="@transmission.Key">@transmission.Value</option>
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td>Price:</td>
            <td><input type="number" min="0" class="text-center" name="carPrice" value="@Model.Price" /></td>
        </tr>
    </table>
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4 text-center">
            <input type="submit" class="btn custom-color" value="Submit changes" />
        </div>
    </div>
</form>

