﻿@model Inchirieri.Models.Car
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Car: @ViewBag.Id</h2>

<form method="post">
    <table class="table" style="border: none;">
        <tr>
            <td>Car Model</td>
            <td><input type="text" class="text-center" name="carModel" value="@Model.Model" /></td>
        </tr>
        <tr>
            <td>Registration Date</td>
            <td><input type="number" min="1980" max="@DateTime.Now.Year" class="text-center" name="carRegistration" value="@Model.RegDate" /></td>
        </tr>
        <tr>
            <td>Fuel Type</td>
            <td>
                <select name="fuelType">
                    @foreach (var fuel in ViewBag.FuelTypes)
                    {
                        <option value="@fuel.Key" @(Model.Fuel == fuel.Value ? "selected" : string.Empty)>@fuel.Value</option>
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td>Seats</td>
            <td><input type="number" min="1" max="10" class="text-center" name="carSeats" value="@Model.Seats" /></td>
        </tr>
        <tr>
            <td>Car Color</td>
            <td>
                <select id="carColor" name="color">
                    @foreach (var color in ViewBag.Colors)
                    {
                        <option value="@color.Value" @(Model.Color == color.Value ? "selected" : string.Empty)>@color.Value</option>
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td>Transmission</td>
            <td>
                <select name="transmission">
                    @foreach (var transmission in ViewBag.Transmissions)
                    {
                        <option value="@transmission.Key" @(Model.Gearbox == transmission.Value ? "selected" : string.Empty)>@transmission.Value</option>
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td>Price</td>
            <td><input type="number" min="0" class="text-center" name="carPrice" value="@Model.Price" /></td>
        </tr>
    </table>
    <input type="submit" class="btn btn-primary" value="Submit changes" />
</form>
<br />
