﻿@model Inchirieri.Models.Car

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    tr:nth-child(even) {
        background-color: darkslategrey;
        color:white;
    }
    table, thead{
        border: solid !important;
        border-color: black !important;
    }
</style>

<body>
    <table id="cars" class="table table-bordered text-center">
        <thead>
            <tr>
                <th>Model</th>
                <th>Registration Date</th>
                <th>Fuel</th>
                <th>Seats</th>
                <th>Color</th>
                <th>Transmission</th>
                <th>Rent price</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var car in ViewBag.Cars)
            {
                <tr>
                    <td>@car.Model</td>
                    <td>@car.RegDate</td>
                    <td>@car.Fuel</td>
                    <td>@car.Seats</td>
                    <td>@car.Color</td>
                    <td>@car.Gearbox</td>
                    <td>@car.Price</td>
                    <td class="text-center">
                        @if (User.IsInRole("Admin"))
                        {
                            <a id="edit-@car.Id" class="btn edit-button" href="/cars/edit/@car.Id">Edit</a>
                            <a id="delete-@car.Id" class="btn delete-button" href="/cars/delete/@car.Id">Delete</a>
                        }
                        else
                        {
                            <a id="rent-@car.Id" class="btn rent-button" href="/cars/rent/@car.Id">Rent</a>
                            <a id="carView" class="btn view-button" href="/cars/view/@car.Id">View</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @if (User.IsInRole("Admin"))
    {
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4 text-center">
                <a class="btn btn-lg custom-color" href="/cars/add">Add Car</a>
            </div>
        </div>
    }
</body>


