﻿@model Inchirieri.Models.Car
@{
    ViewBag.Title = "Rent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Rent</h2>

<table class="table table-bordered table-striped">
    <tr>
        <td>Model masina</td>
        <td>@Model.Model</td>
    </tr>
    <tr>
        <td>Combustibil</td>
        <td>@Model.Fuel</td>
    </tr>
    <tr>
        <td>Numar locuri</td>
        <td>@Model.Seats</td>
    </tr>
    <tr>
        <td>Culoare</td>
        <td>@Model.Color</td>
    </tr>
    <tr>
        <td>Transmisie</td>
        <td>@Model.Gearbox</td>
    </tr>
    <tr>
        <td>An fabricatie</td>
        <td>@Model.RegDate</td>
    </tr>
    <tr>
        <td>Pret/zi</td>
        <td id="pricePerDay">@Model.Price</td>
    </tr>
</table>

<form method="post">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 text-center">
            <table class="table" id="date-selection">
                <tr>
                    <th class="text-center">Start</th>
                    <th class="text-center">End</th>
                </tr>
                <tr>
                    <td>
                        <input type="date" name="startDate" id="startDate" />
                    </td>
                    <td>
                        <input type="date" name="endDate" id="endDate" />
                    </td>
                </tr>
                <tr>
                    <td>Pret total:</td>
                    <td><input type="number" id="totalPrice" name="totalPrice" value="" readonly class="text-center"/></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class=" col-sm-4 col-sm-offset-4 text-center">
            <input type="submit" name="rentCar" value="Rent Car" class="btn rent-button btn-lg" />
        </div>
    </div>
</form>

<style>
    #date-selection tr{
        background-color: white ;
        color: black;
    }
    #date-selection tr:nth-child(3) {
        background-color: darkslategrey;
        color:black;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 24px;
    }
</style>

