﻿@model Inchirieri.Models.Car
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">@Model.Model.ToUpper()</h2>
<div class="text-center row">
    <div class="col-sm-10 col-sm-offset-1">
        <img src="@ViewBag.Image" alt="@Model.Model" class="img-thumbnail" />
    </div>
</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-sm-8 col-sm-offset-2">
        <table class="table table-bordered table-striped text-center">
            <tr>
                <td>Model masina</td>
                <td>@Model.Model</td>
            </tr>
            <tr>
                <td>Combustibil</td>
                <td>@Model.Fuel</td>
            </tr>
            <tr>
                <td>Numar locuri</td>
                <td>@Model.Seats</td>
            </tr>
            <tr>
                <td>Culoare</td>
                <td>@Model.Color</td>
            </tr>
            <tr>
                <td>Transmisie</td>
                <td>@Model.Gearbox</td>
            </tr>
            <tr>
                <td>An fabricatie</td>
                <td>@Model.RegDate</td>
            </tr>
            <tr>
                <td>Pret/zi</td>
                <td id="pricePerDay">@Model.Price</td>
            </tr>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-sm-4 col-sm-offset-4 text-center">
        <a id="rent-@Model.Id" class="btn btn-lg custom-color" href="/cars/rent/@Model.Id">Rent</a>
    </div>
</div>

