﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Rent-A-Car</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body style="background-color: lightgray;">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Rent-A-Car", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Cars", "Index", "Cars")</li>
                    @if (User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("AdminPage", "Index", "Admin")</li>
                    }
                    @if (User.IsInRole("User"))
                    {
                        <li>@Html.ActionLink("My Orders", "Orders", "Home")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <div class="container body-content" style="margin-top: 10px;">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Inchirieri Auto - Zolyia Andras</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/custom")
    @RenderSection("scripts", required: false)
</body>
</html>

<style>
    .navbar-inverse {
        background-color: darkred;
        color: white;
    }

    .navbar-inverse .navbar-nav > li > a {
    color: white;
    }

    .navbar-inverse .navbar-brand {
        color: white;
    }
        tr:nth-child(even) {
        background-color: darkslategrey;
        color:black;
    }

    table, thead, img{
        border: solid !important;
        border-color: black !important;
    }

    .custom-color{
        background-color: darkslategrey;
        color: white;
    }
    .rent-button{
        background-color: darkblue;
        color: white;
    }
    .view-button{
        background-color: green;
        color: white;
    }
    .delete-button{
        background-color: darkred;
        color: white;
    }
    .edit-button{
        background-color: orangered;
        color: white;
    }
    .edit-button:hover, .rent-button:hover, .view-button:hover, .delete-button:hover, .custom-color:hover{
        color:white;
    }

</style>
